h1 {
  font-size: 36;
  font-weight: 600;
}

h2 {
  font-size: 16;
  font-weight: 300;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-description {
  margin-right: 300px;
}

.hero {
  padding: 30px 60px;
  max-width: 700px;
}
